#main{
    .baseprice{
        ul{
            li{
                span{
                    float: left;
                    margin-top: 5px;
                }
                input{
                    float: left;
                    width: 200px;
                    font-size: 30px;
                }
            }
        }
    }
}