html,body{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
#app,.Main{
	width: 100%;
    height: 100%;
}
.Main{
	height: 100%;
    display:flex;
	flex-direction:column;
}
%ir{
    a{
        text-decoration: none;
        color:#333;
        font-size: 36px;
    }
}
.top{
    flex: 0.1;
    margin-bottom: 0;
    header{
        height: 100px;
        position: relative;
        i{
            position: absolute;
            left: 10px;
            top:20px;
        }
        @extend %ir;
        h3{
            height: 100px;
            text-align: center;
            padding-top: 20px;
            font-size: 30px;
        }
    }
    .manues{
        // height: 140px;
        >ul{
            display: flex;
            li{
                flex: 1;
                text-align: center;
                height: 55px;
                line-height: 55px;
                border-bottom: 0 none;
                @extend %ir;
            }
        }
    }
}
.content{
    flex:0.9;
    overflow-x:hidden;
    .bottom{
    //    overflow: hidden;
        >ul{
            display:flex;
            flex-direction:column;
            >li{
                flex: 1;
                // height: 700px;
                .housing{
                    position: relative;
                    height: 500px;
                    img{
                        height: 500px;
                        display: block;
                        width: 100%;
                    }
                    i,span{
                        position: absolute;
                    }
                    .el-icon-star-on{
                        right: 20px;top:20px;
                    }
                    .touxiang{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border:5px solid #fff;
                        right: 20px;
                        bottom:-50px;
                        background:url('../../assets/fangdong1.jpg')
                    }
                    .price{
                        left:20px;bottom: 0;
                        width: 150px;
                        height: 80px;
                        background:#000;
                        opacity: 0.5;
                        color:#fff;
                        line-height: 80px;
                        font-size: 30px;
                        text-align: center;
                    }
                }
                >h3{
                    padding-left: 20px;
                    margin-top:15px;
                    height: 75px;
                    line-height:75px;
                    color:#333;
                    font-size: 38px;
                }
                >p{
                    padding-left: 20px;
                    color:#A5A6AD;
                    height: 65px;
                    line-height: 65px;
                    font-size: 36px;
                    
                }
                .star{
                    // padding-left: 40px;
                    height: 60px;
                    p{
                        margin-left: 300px;
                        font-size: 36px;
                        height: 60px;
                        line-height: 60px;
                    }
                    >ul{
                        
                        li{
                            float: left;
                            width: 20px;height:20px;
                            flex: 1;
                            border-bottom: 0 none;
                            margin-right:24px; 
                            i{
                               color:#F7A621;
                            }
                        }
                    }
                }
            }
        }
    }
}
.alert{
    text-align: center;
    margin-top:100px;
}