.Filtrate{
    flex: 1;
    overflow-x: hidden;
    display:flex;
	flex-direction:column;
    .fil{
        flex: 1;
        overflow-x: hidden;
        h3{
            font-size: 30px;
            padding-top:50px;
            margin-left:80px;
        }   
        .type{
            margin:50px 0 0 100px;
            display: block;
            label{
                >span:first-child{
                    font-size: 30px;
                    >span{
                        width: 30px;
                        height: 30px;
                        font-size: 40px;
                    }
                }
                >span:last-child{
            
                    font-size: 30px;
                }
            }
        }

        .count{
            margin: 0 auto;
            margin-top: 30px;
            display: block;
            width: 480px;
            height: 100px;
            span{
                width: 80px;
            }
            span,input{
                height: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
        .dev{
            display: block;
            margin: 20px 0;
            padding-left:150px; 
            span{
                font-size: 30px;
                span{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .block{
        margin-right:100px;
    }
    .rooms{
        p{
            float: left;
            width: 150px;
            margin-left:140px;
            line-height: 70px;
            text-align: center;
            font-size: 30px;
        }
        .bed{
            // float: left;
            margin: 0 300px;
            margin-top: 10px;
            // display: block;
            width: 300px;
            height: 80px;
            span{
                width: 80px;
            }
            span,input{
                height: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
    }
    .btns{
        height: 100px;
        width: 650px;
        margin:0 auto;
        // padding-left: 40px;
        button{
            width: 300px;
            height: 80px;
            font-size: 30px;
        }
    }
}
