.Sort{
    padding-top:100px;
    ul{
        display: flex;
        flex-direction:column;        
        li{
            flex: 1;
            text-align: center;
            height: 80px;line-height: 80px;
            font-size: 32px;
            border-bottom: 0 none;
        }
    }
}