// html,
// body {
//     width: 100%;
//     height: 100%;
// }
// #app,
// .ddd {
//     width: 100%;
//     height: 100%;
// }
.ddd {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 80px;
    header {
        height: 80px;
        position: relative;
        i {
            position: absolute;
            left: 10px;
            top: 20px;
        }
        h3 {
            // height: 156px;
            text-align: center;
            padding-top: 20px;
            
        }
        >ul {
            position: absolute;
            right: 20px;
            top: 10px;
            display: flex;
            li {
                flex: 1;
                flex-direction: column;
                text-align: center;
                height: 55px;
                line-height: 55px;
                font-size: 40px;
                border-bottom: 0 none;
            }
        }
        .banner {
            img {
                width: 100%;
            }
        }
    }
}

.ma {
    flex: 1;
    overflow-x: hidden;
    .bottom {
        // overflow: hidden;
        // height: 35000px;
        .img {
            position: relative;
            height: 310px;
            img {
                display: block;
                height: 310px;
                width: 100%;
            }
            span {
                position: absolute;
            }
            .price {
                left: 20px;
                bottom: 0;
                width: 150px;
                height: 80px;
                background: #000;
                opacity: 0.5;
                color: #fff;
                line-height: 80px;
                font-size: 30px;
                text-align: center;
            }
            >p {
                width: 100px;
                right: 0;
                bottom: 0;
                height: 30px;
            }
        }
        .house_mass {
            padding: 20px 20px;
            height: 200px;
            position: relative;
            h3 {
                height: 60px;
                line-height: 60px;
                font-size: 42px;
            }
            .touxiang {
                position: absolute;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 5px solid #fff;
                left: 20px;
                top: 100px;
                background: url('../../assets/fangdong1.jpg')
            }
            >span {
                position: absolute;
                left: 150px;
                top: 130px;
                font-size: 38px;
            }
        }
        .rent {
            height: 200px;
            padding: 30px;
            h3 {
                height: 60px;
                line-height: 60px;
                font-size: 42px;
            }
            ul {
                display: flex;
                border-bottom: 1px solid #cccccc;
                li {
                    flex: 1;
                    height: 112px;
                    text-align: center;
                    line-height: 112px;
                    font-size: 30px;
                    border-bottom: 0 none;
                }
            }
        }
        .account {
            height: 230px;
            padding: 0 20px;
            h3 {
                height: 60px;
                line-height: 60px;
                font-size: 42px;
            }
            >p {
                height: 100px;
                line-height: 50px;
                color: #333;
                padding: 0 40px;
                overflow: hidden;
                font-size: 30px;
            }
            >span {
                margin-left: 30px;
                color: #FF4942;
            }
        }
        .appraise {
            height: 260px;
            padding: 40px 20px;
            .star {
                h3 {
                    float: left;
                    margin-right: 20px;
                    font-size: 42px;
                }
                p{
                    margin-left: 400px;
                }
                >ul {
                    float: left;
                    
                    li {
                        // float: left;
                        width: 25px;
                        height: 25px;
                        flex: 1;
                        i {
                            display: inline-block;
                            color: #F7A621;
                            width: 25px;
                            height: 25px;
                            margin-left: 40px;
                        }
                    }
                }
            }
            .infor {
                height: 310px;
                padding: 0 20px;
                border-bottom: 1px solid #cccccc;
                ul {
                    li {
                        border-bottom:0 none;
                        .top {
                            height: 120px;
                            padding-top: 20px;
                            position: relative;
                            .touxiang {
                                position: absolute;
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                border: 5px solid #fff;
                                left: 10px;
                                top: 20px;
                                background: url('../../assets/fangdong1.jpg')
                            }
                            h3 {
                                padding-left: 130px;
                                color: #333;
                                font-size: 42px;
                            }
                            p {
                                padding-left: 130px;
                                color: #848A8C;
                                font-size: 42px;
                            }
                        }
                        .pinglun {
                            height: 80px;
                            line-height: 40px;
                            padding-left: 20px;
                            margin-top: 20px;
                            font-size: 30px;
                        }
                    }
                }
                >span {
                    // margin-top: 20px;
                    color: #FF4942;
                    font-size: 30px;
                    // margin-top: 10px;
                }
            }
            .address {
                padding: 0 20px;
                h3 {
                    height: 80px;
                    line-height: 80px;
                    font-size: 42px;
                }
                p {
                    height: 80px;
                    line-height: 80px;
                    font-size: 34px;
                }
                .Img {
                    height: 330px;
                    img {
                        height: 330px;
                    }
                }
            }
            .bed {
                margin-top: 20px;
                padding: 0 20px;
                border-top: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
                h3 {
                    margin-top: 30px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 38px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        flex: 1;
                        height: 80px;
                        line-height: 80px;
                        font-size: 34px;
                        border-bottom: 0 none;
                    }
                }
            }
            .check_in {
                h3 {
                    margin-top: 30px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 38px;
                }
                ul {
                    border-top: 1px solid #cccccc;
                    border-bottom: 1px solid #cccccc;
                    padding: 0 20px;
                    li {
                        height: 80px;
                        line-height: 80px;
                        color: #333;
                        font-size: 34px;
                        border-bottom: 0 none;
                        span:first-child {
                            float: left;
                        }
                        span:last-child {
                            float: right;
                        }
                    }
                }
            }
            .facility {
                h3 {
                    margin-top: 30px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 38px;
                }
                ul {
                    height: 150px;
                    display: flex;
                    padding: 0 20px;
                    border-bottom: 1px solid #cccccc;
                    li {
                        flex: 1;
                        padding-top: 80px;
                        text-align: center;
                        font-size: 34px;
                        border-bottom: 0 none;
                    }
                }
            }
            .similarity {
                height: 560px;
                margin-top: 20px;
                h3 {
                    height: 44px;
                    line-height: 44px;
                    font-size: 38px;
                }
                .slider-container{
                    padding-top:20px;
                    display: flex;
                    height: 500px;
                    .slider-touch{
                        flex: 1;
                        
                        width:640px;
                        margin-right: 40px;
                        .img{
                            width: 640px;
                            img{
                                width: 640px;
                                height: 315px;
                            }
                        }
        
                        .mass{
                            display: flex;
                            height: 132px;
                            .like_left{
                                flex: 1;
                                padding-top:15px;
                                h3{
                                    height: 45px;
                                    line-height: 45px;
                                    color:#333333;
                                    font-size: 22px;
                                    margin-left:-260px;
                                }
                                    >p{
                                        color:#84868C;
                                        font-size:24px;
                                        margin-left:-50px;
                                    }
                                    .star{
                                        margin-left:20px;
                                        >ul{
                                            
                                            >li{
                                                margin-left:20px;
                                                float: left;
                                                width: 20px;height: 20px;
                                                i{
                                                   color:#F7A621;
                                                }
                                            }
                                        }
                                    }
                                
                            }
                            .like_right{
                                width: 196px;
                                >i{
                                    display: block;
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50%;
                                    background:url('../../assets/like1.jpg');
                                    margin:0 auto;
                                    margin-top:20px;
                                }
                            }
                        }
                    }
                }
                // >ul {
                //     padding-top: 20px;
                //     display: flex;
                //     >li {
                //         flex: 1;
                //         width: 540px;
                //         margin-right: 20px;
                //         .img {
                //             width: 540px;
                //             img {
                //                 width: 540px;
                //                 height: 315px;
                //             }
                //         }
                //         .mass {
                //             display: flex;
                //             height: 132px;
                //             .like_left {
                //                 flex: 1;
                //                 padding-top: 15px;
                //                 h3 {
                //                     height: 45px;
                //                     line-height: 45px;
                //                     color: #333333;
                //                     font-size: 22px;
                //                     >p {
                //                         color: #84868C;
                //                         font-size: 16px;
                //                     }
                //                     .star {
                //                         >ul {
                //                             li {
                //                                 float: left;
                //                                 width: 25px;
                //                                 height: 25px;
                //                                 flex: 1;
                //                                 i {
                //                                     color: #F7A621;
                //                                 }
                //                             }
                //                         }
                //                     }
                //                 }
                //             }
                //             .like_right {
                //                 width: 196px;
                //                 >i {
                //                     display: block;
                //                     width: 55px;
                //                     height: 55px;
                //                     border-radius: 50%;
                //                     background: url('../../assets/like1.jpg');
                //                     margin: 0 auto;
                //                     margin-top: 20px;
                //                 }
                //                 >button {
                //                     margin-left: 70px;
                //                     border: none;
                //                     width: 60px;
                //                     height: 40px;
                //                     // font-size: 30px;
                //                     border: 2px solid #39B2C6;
                //                     border-left: 1px solid #39B2C6;
                //                     border-right: 1px solid #39B2C6;
                //                     border-radius: 3px;
                //                     background: #fff;
                //                 }
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}

footer {
    height: 80px;
    .btn {
        display: flex;
        // padding:0 20px;
        button {
            flex: 1;
            width: 50%;
            height: 80px;
            border: none;
            font-size: 30px;
            color: #fff;
        }
        button:first-child {
            background: #39B2C6;
        }
        button:last-child {
            background: #FF6563;
        }
    }
}