html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#app,.Main{
	width: 100%;
	height: 100%;
}
.Main{
	height: 100%;
    display:flex;
	flex-direction:column;
}
.main{
	flex:0.9;
	overflow-x:hidden;
	header{
		position: relative;
		// height: 364px;
		.banner{
			// height: 364px;
			img{
				// height: 364px;
				width: 100%;
			}
		}
		.sherch{
			width: 100%;
			height: 49px;
			margin-top:12px;
			position: absolute;
			top:0;
			input{
				width: 70%;
				height: 54px;
				border-radius: 24px;
				background-color:#FFFFFF;
				border:none;
				margin:0 15%;
				font-size: 30px;
				padding-left:13%;
			}
			.el-icon-search{
				position: absolute;
				left:20%;
				top:30px;
				font-size: 30px;
			}
		}
	}
	.hot_city{
		// height: 380px;
		flex: 1;
		padding-top:20px;
		// border-bottom: 2px solid #EFEFEF;
		h2{
			text-align: center;
			font-size: 36px;
		}
		ul{
			height: 780px;
			li{
				margin:0 5%;
				margin-top: 20px;
				width: 40%;
				height: 237px;
				float: left;
				img{
					display: block;
					width: 280px;
					height: 190px;
				}
				>p{
					height: 50px;
					line-height: 50px;
					font-size: 30px;
				}
			}
		}
	}
	.like{
		padding:15px 20px 0 40px ;
		border-top: 2px solid #EFEFEF;
		border-bottom: 2px solid #EFEFEF;
		// height: 800px;
		h2{
			text-align: center;
			font-size: 36px;
		}
		>ul{width: 100%;
			padding-top:20px;
			display: flex;
			height: 500px;
			>li{
				flex: 1;
				width: 100%;
				margin-right: 20px;
				.img{
					width: 640px;
					img{
						width: 640px;
						height: 315px;
					}
				}

				.mass{
					display: flex;
					height: 132px;
					.like_left{
						flex: 1;
						padding-top:15px;
						h3{
							height: 45px;
							line-height: 45px;
							color:#333333;
							font-size: 30px;
						}
							>p{
								color:#84868C;
								font-size:28px;
							}
							.star{
								>ul{
									>li{
										float: left;
										width: 30px;height: 30px;
										i{
										   color:#F7A621;
										   font-size: 30px;
										}
									}
								}
								.pinjia{
									font-size: 24px;
								}
							}
						
					}
					.like_right{
						width: 196px;
						>i{
							display: block;
							width: 55px;
							height: 55px;
							border-radius: 50%;
							background:url('../../assets/like1.jpg');
							margin:0 auto;
							margin-top:20px;
						}
						>button{
							margin-left:70px;
							border:none;
							border: 2px solid #39B2C6;
							border-left: 1px solid #39B2C6;
							border-right: 1px solid #39B2C6;
							border-radius: 3px;
							background: #fff;
						}
					}
				}
			}
		}
	}
	.fangdong{
		border-top: 1px solid #EFEFEF;
		h2{
			height: 80px;
			text-align: center;
		}
		>ul{
			display: flex;

			>li{
				flex: 1;
				position: relative;
				// width: 442px;
				margin-left: 23px;
				height: 333px;
				
				>img{
					width: 660px;
					height: 333px;
				}
				.liuyan{
					// float: left;
					width: 400px;
					position: absolute;
					top:50%;left: 50%;
					color:#fff;
					margin-left:-200px;
					margin-top:-50px;
				}
			}
		}
	}
}
footer{
	flex:0.1;
	ul{
		display: flex;
		li{
			flex: 1;
			padding-top:70px;
			// height: 110px;
			position: relative;
			// line-height: 110px;
			text-align: center;
			font-size: 40px;
			i{
				position: absolute;
				top:10px;left:70px;
				font-size: 60px;
			}
		}
	}
}
