html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#app,.Main{
	width: 100%;
	height: 100%;
}
.Main{
	height: 100%;
    display:flex;
	flex-direction:column;
}
.main{
	flex:0.9;
	overflow-x:hidden;
	.sherch {
	  height: 98px;
	  margin-top: 30px;
	  position: absolute;
	  z-index: 1000; // text-indent: 1000px;
	  top: 0;
	  input {
	    width: 610px;
	    height: 80px;
	    border-radius: 45px;
	    background-color: #FFFFFF;
	    border: none;
	    margin: 0 70px;
	    padding-left: 155px;
	    font-size: 30px;
	  }
	  i {
	    position: absolute;
	    left: 160px;
	    font-size: 40px;
	    top: 24px;
	  }
	}

	header{
		position: relative;
		// height: 364px;
		.banner{
			// z-index: -10;
			// height: 364px;
			img{
				// height: 364px;
				width: 100%;
			}
		}
		
	}
	.hot_city{
		// height: 380px;
		flex: 1;
		padding-top:20px;
		// border-bottom: 2px solid #EFEFEF;
		h2{
			height: 100px;
			line-height: 100px;
			text-align: center;
			font-size: 48px;
		}
		ul{
			height: 780px;
			li{
				margin-left: 20px;
				margin-top: 20px;
				width:350px;
				height: 360px;
				float: left;
				img{
					display: block;
					width: 350px;
					height: 280px;
				}
				>p{
					height: 50px;
					line-height: 50px;
					font-size: 40px;
				}
			}
		}
	}
	.like{
		padding:15px 20px 0 30px ;
		border-top: 2px solid #EFEFEF;
		border-bottom: 2px solid #EFEFEF;
		// height: 800px;
		h2{
			text-align: center;
			height: 100px;
			line-height:100px;
			font-size: 48px;
		}
		.slider-container{
			padding-top:20px;
			display: flex;
			height: 500px;
			.slider-touch{
				flex: 1;
				
				width:640px;
				margin-right: 40px;
				.img{
					width: 640px;
					img{
						width: 640px;
						height: 315px;
					}
				}

				.mass{
					display: flex;
					height: 132px;
					.like_left{
						flex: 1;
						padding-top:15px;
						h3{
							height: 45px;
							line-height: 45px;
							color:#333333;
							font-size: 22px;
							margin-left:-260px;
						}
							>p{
								color:#84868C;
								font-size:24px;
								margin-left:-50px;
							}
							.star{
								margin-left:20px;
								>ul{
									
									>li{
										margin-left:20px;
										float: left;
										width: 20px;height: 20px;
										i{
										   color:#F7A621;
										}
									}
								}
							}
						
					}
					.like_right{
						width: 196px;
						>i{
							display: block;
							width: 80px;
							height: 80px;
							border-radius: 50%;
							background:url('../../assets/like1.jpg');
							margin:0 auto;
							margin-top:20px;
						}
					}
				}
			}
		}
	}
	.fangdong{
		border-top: 1px solid #EFEFEF;
		h2{
			height: 80px;
			text-align: center;
			font-size: 48px;
		}
		.fd{
			.slider-touch{
				display: flex;

				.slider-item{
					flex: 1;
					position: relative;
					// width: 442px;
					margin-left: 23px;
					height: 350px;
					
					>img{
						width: 660px;
						height: 350px;
					}
					.liuyan{
						// float: left;
						width: 400px;
						text-align: center;
						position: absolute;
						// top:50%;left: 50%;
						color:#fff;
						font-size: 30px;
						// margin-left:-200px;
						// margin-top:-50px;
					}
				}
			}
			
		}
	}
}
footer{
	flex:0.1;
	ul{
		display: flex;
		li{
			flex: 1;
			padding-top:70px;
			// height: 110px;
			position: relative;
			// line-height: 110px;
			text-align: center;
			font-size: 36px;
			i{
				position: absolute;
				top:10px;left:70px;
				font-size: 45px;
			}
		}
	}
}