html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#app,.Main{
	width: 100%;
	height: 100%;
}
.Main{
	height: 100%;
    display:flex;
	flex-direction:column;
}
.main{
<<<<<<< HEAD
	flex: 9;
	overflow-x:hidden;
	header{

		position: relative;
		height: 364px;
		.banner{
			height: 364px;
			img{
				height: 364px;width: 100%;
			}
		}
		.sherch{
			height: 49px;
			margin-top:12px;
			position: absolute;
			top:0;
			input{
				width: 495px;
				height: 49px;
				border-radius: 24px;
				background-color:#FFFFFF;
				border:none;
				margin:0 70px;
				padding-left:155px;
			}
			i{
				position: absolute;
				left:190px;
				top:10px;
			}
		}
	}
	.hot_city{
		height: 600px;
=======
	flex:0.9;
	overflow-x:hidden;
	.sherch {
	  height: 98px;
	  margin-top: 30px;
	  position: absolute;
	  z-index: 1000; // text-indent: 1000px;
	  top: 0;
	  input {
	    width: 610px;
	    height: 80px;
	    border-radius: 45px;
	    background-color: #FFFFFF;
	    border: none;
	    margin: 0 70px;
	    padding-left: 155px;
	    font-size: 30px;
	  }
	  i {
	    position: absolute;
	    left: 160px;
	    font-size: 40px;
	    top: 24px;
	  }
	}

	header{
		position: relative;
		// height: 364px;
		.banner{
			// z-index: -10;
			// height: 364px;
			img{
				// height: 364px;
				width: 100%;
			}
		}
		
	}
	.hot_city{
		// height: 380px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
		flex: 1;
		padding-top:20px;
		// border-bottom: 2px solid #EFEFEF;
		h2{
<<<<<<< HEAD
			height: 55px;
			line-height: 55px;
			text-align: center;
		}
		ul{
			li{
				margin-left: 44px;
				margin-top: 20px;
				width: 250px;
				height: 237px;
				float: left;
				img{
					display: block;
					width: 250px;
					height: 180px;
=======
			height: 100px;
			line-height: 100px;
			text-align: center;
		}
		ul{
			height: 780px;
			li{
				margin-left: 20px;
				margin-top: 20px;
				width:350px;
				height: 360px;
				float: left;
				img{
					display: block;
					width: 350px;
					height: 280px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
				}
				>p{
					height: 50px;
					line-height: 50px;
				}
			}
		}
	}
	.like{
<<<<<<< HEAD
		padding:15px 20px 0 40px ;
		border-top: 2px solid #EFEFEF;
		border-bottom: 2px solid #EFEFEF;
		height: 560px;
		h2{
			text-align: center;
			height: 44px;
			line-height: 44px;
		}
		>ul{
			padding-top:20px;
			display: flex;
			>li{
				flex: 1;
				
				width: 540px;
				margin-right: 20px;
				.img{
					width: 540px;
					img{
						width: 540px;
=======
		padding:15px 20px 0 30px ;
		border-top: 2px solid #EFEFEF;
		border-bottom: 2px solid #EFEFEF;
		// height: 800px;
		h2{
			text-align: center;
			height: 100px;
			line-height:100px;
		}
		.slider-container{
			padding-top:20px;
			display: flex;
			height: 500px;
			.slider-touch{
				flex: 1;
				
				width:640px;
				margin-right: 40px;
				.img{
					width: 640px;
					img{
						width: 640px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
						height: 315px;
					}
				}

				.mass{
					display: flex;
					height: 132px;
					.like_left{
						flex: 1;
						padding-top:15px;
						h3{
							height: 45px;
							line-height: 45px;
							color:#333333;
							font-size: 22px;
<<<<<<< HEAD
=======
							margin-left:-260px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
						}
							>p{
								color:#84868C;
								font-size:24px;
<<<<<<< HEAD
							}
							.star{
								>ul{
									>li{
										float: left;
										width: 25px;height: 25px;
=======
								margin-left:-50px;
							}
							.star{
								margin-left:20px;
								>ul{
									
									>li{
										margin-left:20px;
										float: left;
										width: 20px;height: 20px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
										i{
										   color:#F7A621;
										}
									}
								}
							}
						
					}
					.like_right{
						width: 196px;
						>i{
							display: block;
<<<<<<< HEAD
							width: 55px;
							height: 55px;
=======
							width: 80px;
							height: 80px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
							border-radius: 50%;
							background:url('../../assets/like1.jpg');
							margin:0 auto;
							margin-top:20px;
						}
<<<<<<< HEAD
						>button{
							margin-left:70px;
							border:none;
							border: 2px solid #39B2C6;
							border-left: 1px solid #39B2C6;
							border-right: 1px solid #39B2C6;
							border-radius: 3px;
							background: #fff;
						}
=======
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
					}
				}
			}
		}
	}
	.fangdong{
		border-top: 1px solid #EFEFEF;
		h2{
			height: 80px;
			text-align: center;
		}
<<<<<<< HEAD
		>ul{
			display: flex;

			>li{
				flex: 1;
				position: relative;
				// width: 442px;
				margin-left: 23px;
				height: 333px;
				
				>img{
					width: 560px;
					height: 333px;
				}
				.liuyan{
					// float: left;
					width: 400px;
					position: absolute;
					top:50%;left: 50%;
					color:#fff;
					margin-left:-200px;
					margin-top:-50px;
				}
			}
=======
		.fd{
			.slider-touch{
				display: flex;

				.slider-item{
					flex: 1;
					position: relative;
					// width: 442px;
					margin-left: 23px;
					height: 350px;
					
					>img{
						width: 660px;
						height: 350px;
					}
					.liuyan{
						// float: left;
						width: 400px;
						text-align: center;
						position: absolute;
						// top:50%;left: 50%;
						color:#fff;
						font-size: 30px;
						// margin-left:-200px;
						// margin-top:-50px;
					}
				}
			}
			
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
		}
	}
}
footer{
<<<<<<< HEAD
	// flex: 1;
	height: 100px;
=======
	flex:0.1;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
	ul{
		display: flex;
		li{
			flex: 1;
<<<<<<< HEAD
			position: relative;
			// line-height: 113px;
			text-align: center;
			font-size: 24px;
			padding-top:60px;
			i{
				position: absolute;
				top:20px;left:60px;
				font-size: 36px;
=======
			padding-top:70px;
			// height: 110px;
			position: relative;
			// line-height: 110px;
			text-align: center;
			i{
				position: absolute;
				top:10px;left:70px;
				font-size: 45px;
>>>>>>> 78a2fd3e8df69978375b9ff49437999c68691dcf
			}
		}
	}
}
