.main_house{
    overflow-x: hidden;
}
.footer{
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-top:1px solid #ccc;
    ul{
        li{
            font-size: 30px;
        }
    }
}