#header_housedes{
    font-size: 36px;
    padding: 10px;
    height: 86px;
    line-height: 86px;
    span{
        margin-left: 0;
    }
    a{
        float: right;
        color: #ff6163;
        margin-right: 10px;
    }
}
#main_housedes{
    h3{
        font-size: 38px;
        font-weight: normal;
    }
    padding: 0 16px;
    .title,.special,.other{
        border-bottom: 1px solid #ccc;
        .header{
            padding: 20px 10px;
            overflow: hidden;
            p{
                color: #999;
                font-size: 34px;
            }
            
        }
        .cont{
            color: #ddd;
            input{
                border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;
                width: 100%;
                height: 30px;
                font-size: 26px;
                margin-left: 20px;
                color: #999;
            }
            textarea{
                overflow:auto; background-attachment:   fixed;   background-repeat:   no-repeat;   border-style:   solid;border-color:   #FFFFFF;
                width: 100%;
                height: 300px;
                font-size:30px; 
                color: #999;
            }
        }
    }
}